
@{
    ViewBag.Title = "Post A Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using SSGeek.Models;

@model ForumPost

@if(ViewBag.Result == null)
{
    using (Html.BeginForm("PostAMessage", "Planets", FormMethod.Post))
    {
        @Html.Label("Username: ")
        @Html.TextBox("Username")<br /><br />
        @Html.Label("Subject: ")
        @Html.TextBox("Subject")<br /><br />
        @Html.Label("Message: ")
        @Html.TextArea("Message")

        <br /><br />
        <input type="submit" value="Submit" />
    }
}
else if (ViewBag.Result)
{
    <p>Your post was successfully updated!</p>
    ViewBag.Result = null;
}
else
{
    <p>Your post was rejected! Please try again.</p>
    ViewBag.Result = null;
}
