
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Product

<h2>@ViewBag.Name</h2>
<div style="display:inline-block">
    <img src="~/Content/img/@Model.ImageName" />
</div>
<div style="display:inline">
    <div>
        @Model.Name
    </div>
    <br />
    <div>
        @Model.Price
    </div>
    <br />
    <div>
        @Model.Description
    </div>
    <div>
        @using (Html.BeginForm("ShoppingCartResult", "ShoppingCart", FormMethod.Post))
        {
            @Html.Label("Quantity to buy: ")
            @Html.TextBox("Quantity")

            @Html.Hidden("ProductId",Model.ProductId)
            <input type="submit" value="Add to Cart" />
        }
    </div>
</div>